.listReset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.calls {
    display: flex;
}

.callsItem {
    margin-right: 56px;
    min-width: 164px;

    &:last-child {
        margin-right: 0;
    }
}

.callsItemText {
    display: inline-block;
    margin-bottom: 7px;
    font-family: "SF Pro";
    font-size: 14px;
    line-height: 21px;
    color: #122945;

    &Green {
        color: #28a879;
    }

    &Yellow {
        color: #ffd500;
    }

    &Red {
        color: #ea1a4f;
    }
}

.callsItemIndicator {
    position: relative;
    display: block;
    width: 156px;
    height: 6px;
    border-radius: 12px;
    background-color: #dee6f5;

    &Green {
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 104px;
            height: 6px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            background-color: #28a879;
        }
    }

    &Yellow {
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 62px;
            height: 6px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            background-color: #ffd500;
        }
    }

    &Red {
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 104px;
            height: 6px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            background-color: #ea1a4f;
        }
    }
}
