.tableWrapper {
    background-color: #fff;
    border-radius: 8px;
}

.table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tableHeader {
    border-bottom: 1px solid #eaf0fa;
    text-align: left;
    font-family: "SF Pro";
    font-size: 14px;
    line-height: 14px;
    color: #899cb1;

    & th {
        font-weight: 400;
    }
}

.tableRow {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaf0fa;

    &:last-child {
        border-bottom: none;
    }
}

.tableCell {
    padding: 16px 0;

    &:nth-child(1) {
        width: 50px;
    }

    &:nth-child(2) {
        width: 80px;
    }

    &:nth-child(3) {
        width: 90px;
    }

    &:nth-child(4) {
        width: 300px;
    }

    &:nth-child(5) {
        width: 220px;
    }

    &:nth-child(6) {
        width: 440px;
    }

    &:nth-child(7) {
        width: 100px;
    }
}
